<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title> Generalizing maps </title>
    <meta name = "viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">


        <!-- leaflet scripts and css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="  crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="  crossorigin=""></script>

    <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src ="{% static '//js/cookie.js' %}" ></script>

    <!-- Bootstrap -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="{% static '//css/bootstrap.min.css' %}">
     <script  type="text/javascript" src="{% static '//js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src ="{% static '//js/jszip.min.js' %}" ></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako.min.js" ></script>
    <script src ="https://cdn.jsdelivr.net/npm/zlibjs@0.3.1/bin/zlib.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

    <link rel = "stylesheet" href="{% static '//css/checkbox.css' %}">

      <!-- custom styles -->
    <link rel = "stylesheet" href="{% static '//css/main.css' %}">


</head>
<body >
<div style="align:center; margin-top:50px; overflow:auto; height:100%;" class="compareInputContainer">
    <label for="BaseMapImage" class="btn btn-outline-secondary" style="font-weight:800;">Upload Base Map</label>
    <input id="BaseMapImage" style="display:none;" type="file" />

    <label for="SketchMapImage" class="btn btn-outline-secondary" style="font-weight:800;">Upload Sketch Map</label>
    <input id="SketchMapImage" multiple="multiple" style="display:none;" type="file" />

    {% csrf_token %}
    <div class="row">
        <div class="col-sm">
            <p style="  font-weight: bold;">Researcher 1</p>
            <div class="label-input-container">
                <label for="uploadR1">Upload Input Files</label>
                <input id="uploadR1" name="R1inputfiles" style="margin-left:60px" type="file" multiple="multiple"  />
            </div>
            <div class="label-input-container">
                <label for="uploadR1align">Upload Generalization File</label>
                <input id="uploadR1align" name="R1align" type="file" />
            </div>
        </div>
        <div class="col-sm">
            <p style="  font-weight: bold;">Researcher 2</p>
            <div class="label-input-container">
                <label for="uploadR2">Upload Input Files</label>
                <input id="uploadR2" name="R2inputfiles" style="margin-left:60px" type="file" multiple="multiple"  />
            </div>
            <div class="label-input-container">
                <label for="uploadR2align">Upload Generalization File</label>
                <input id="uploadR2align" name="R2align" type="file" />
            </div>
        </div>
        <div class="col-sm">
            <p style="font-weight: bold;">Researcher 3</p>
            <div class="label-input-container">
                <label for="uploadR3">Upload Input Files</label>
                <input id="uploadR3" name="R3inputfiles" style="margin-left:60px" type="file" multiple="multiple" />
            </div>
            <div class="label-input-container">
                <label for="uploadR3align">Upload Generalization File</label>
                <input id="uploadR3align" name="R3align" type="file" />
            </div>
        </div>
    </div>
    <div>
        <button id="GenerateResults" onclick="displayDiff()" class="btn btn-outline-secondary">Generate Results</button>
    </div>

    <div id="ResultContainer"></div>
</div>


</body>
  <script type="text/javascript" src ="{% static '//js/compare.js' %}" ></script>
</html>
