<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title> Generalizing maps </title>
    <meta name = "viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">

    <!-- leaflet scripts and css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="  crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="  crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

    <!-- Leaflet easy button -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

    <!-- Leaflet geosearch -->
    <link  href="https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css" rel="stylesheet" />
   <!-- <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>-->

    <!-- Leaflet draw -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>


    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>

    <!-- Leaflet pm plugin -->
     <link rel = "stylesheet" href="{% static '//css/leaflet.pm.css' %}">
    <script type="text/javascript" src ="{% static '//js/leaflet.geometryutil.js' %}" ></script>
    <!--<script type="text/javascript" src ="{% static '//js/leaflet.pm.min.js' %}" ></script>-->
    <script type="text/javascript" src ="{% static '//js/leaflet.snap.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/leaflet.polylineDecorator.js' %}" ></script>



    <!-- shapefile-->
    <script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>

    <!--geojson-->
    <script type="text/javascript" src ="{% static '//js/leaflet.ajax.min.js' %}" ></script>

    <script type="text/javascript" src ="{% static '//js/L.Path.Transform.js' %}" ></script>
    <!--turf for geospatial computation -->
    <script src='https://cdn.jsdelivr.net/npm/@turf/turf@5.1.6/turf.min.js'></script>


    <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>


  <!-- Font awesome -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript" src ="{% static '//js/underscore-min.js' %}" ></script>

    <!--hull -->
    <script type="text/javascript" src ="{% static '//js/hull.js' %}" ></script>

    <link rel = "stylesheet" href="{% static '//css/icommon.css' %}">
    <link rel = "stylesheet" href="{% static '//css/owl_carousel.css' %}">


    <!-- Bootstrap -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="{% static '//css/bootstrap.min.css' %}">
     <script  type="text/javascript" src="{% static '//js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src ="{% static '//js/jszip.min.js' %}" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>

    <link rel = "stylesheet" href="{% static '//css/checkbox.css' %}">

      <!-- custom styles -->
    <link rel = "stylesheet" href="{% static '//css/main.css' %}">
     <link rel = "stylesheet" href="{% static '//css/imagesloader.css' %}">
     <script type="text/javascript" src ="{% static '//js/imagesloader.js' %}" ></script>


</head>
<body >

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#">Resolving generalization in sketchmaps</a>

        <label class="custom-control overflow-checkbox" style="margin-bottom:0rem">
            <span class="overflow-control-description stepcheck" >Basemap Loaded</span>
            <input id="loaded" type="checkbox" class="overflow-control-input" disabled>
            <span class="overflow-control-indicator"></span>
        </label>
        <label class="custom-control overflow-checkbox" style="margin-bottom:0rem; left:40px">
            <span class="overflow-control-description stepcheck">Basemap Marked</span>
            <input id="marked" type="checkbox" class="overflow-control-input" disabled>
            <span class="overflow-control-indicator"></span>
        </label>
        <label class="custom-control overflow-checkbox" style="margin-bottom:0rem; left:80px">
            <span class="overflow-control-description stepcheck" >Sketchmap aligned</span>
            <input id="aligned" type="checkbox" class="overflow-control-input" disabled>
            <span class="overflow-control-indicator" style="left:170px"></span>
        </label>
    <button id ="Analyze" class="btn btn-outline-secondary">Analyse</button>

</nav>
<!--/.Navbar-->


<div id ="basemapholder" style="float: left; width: 50%; height: 90%;border-radius:5px">
    <div id="basemapmenu">
        <p id="filemenu">File<i class="fas fa-angle-down" style="font-size:xx-small; margin-left:1rem"></i>
        <li id="filemenuoptions">
        <ul class="menu">New Project</ul>
        <ul class="menu">Upload Project</ul>
        <ul class="menu">Download Project</ul>
        </li>
        </p>
        <p id = "editmenu" >Edit<i class="fas fa-angle-down" style="font-size:xx-small; margin-left:1rem"> </i>
        <li id="editmenuoptions">
        <ul class="menu" id="drawBM">Mark/Edit Basemap</ul>
        <ul class="menu" id="saveBM">Save Basemap</ul>
        <ul class="menu" id="drawSM">Mark/Edit Sketchmap</ul>
        <ul class="menu" id="saveSM">Save Sketchmap</ul>
        <ul class="menu">Select All</ul>
        <ul class="menu">Deselect All</ul>
        <ul class="menu">Mark as missing</ul>
        </li>
        </p>
        <span class="before"></span>
        <span class="after"></span>
        <span class="before" style="left:48px"></span>
        <span class="after" style="left:-72px"></span>
    </div>

    <div id="loadbasemap">
        <label for="fromfile" class="btn btn-outline-secondary" style="font-weight:800;">Load Basemap from File</label>
        <input id="fromfile" style="display:none;" type="file" onchange= "loadFromImage()"  />

        <div class="break"></div>
        <label>OR</label>
        <div class="break"></div>

        <button id="fromOSM" class="btn btn-outline-secondary" style="font-weight:800;">Load Basemap from OSM</button>
    </div>
    <div style="z-index:1000;display:none; float: left; width: 100%; height: 100%;border-radius:5px" id="imagemap"></div>
    <div style="z-index:1000;display:none; float: left; width: 100%; height: 100%;border-radius:5px" id="map">
        <div class="dropdown" style="position:relative;z-index:1000;left:50px; display:inline-block">
          <button id="load_type" class="btn btn-default dropdown-toggle"  type="button" data-toggle="dropdown" >Load
                <span class="caret"></span></button>
              <ul class="dropdown-menu" style="font-size:0.7rem ; min-width:10.5rem">
                  <li>
                      <label for="importMM" style=" border:0px ; z-index:1000; position:relative; background:white;">Raw map</label>
                      <input id='importMM' type = "file" multiple="multiple" onChange="loadRawJsonMM()"  style = "display:none;"/>
                  </li>
                  <li>
                      <label for="importEM" style=" border:0px ; z-index:1000; position:relative; background:white;">Experiment map</label>
                      <input id='importEM' type = "file" multiple="multiple" onChange="loadExperimentJsonMM()"  style = "display:none;"/>
                  </li>
                  <li>
                      <label for="importGM" style=" border:0px ; z-index:1000; position:relative; background:white;">Generalised map</label>
                      <input id='importGM' type = "file" multiple="multiple" onChange="loadGeneralisedJsonMM()"  style = "display:none;"/>
                  </li>
              </ul>

        </div>

        <div class="dropdown" style="position:relative;z-index:1000;left:50px; display:inline-block">
          <button id="save_type" class="btn btn-default dropdown-toggle"  type="button" data-toggle="dropdown" >Save
                <span class="caret"></span></button>
              <ul class="dropdown-menu" style="font-size:0.7rem ; min-width:10.5rem">
                  <li>
                      <a id = "exportRM" style=" border:0px; z-index:1000; position:relative; background:white;" onclick ="downloadRawJsonMM()">Raw map</a>
                  </li>
                  <li>
                      <a id = "exportEM" style=" border:0px; z-index:1000; position:relative; background:white;" onclick ="downloadExperimentJsonMM()">Experiment map</a>
                  </li>
                  <li>
                      <a id = "exportGM" style=" border:0px; z-index:1000; position:relative; background:white;" onclick ="downloadGeneralisedJsonMM()">Generalised map</a>
                  </li>
              </ul>

        </div>


        <div class="dropdown" style="position:relative;z-index:1000;left:50px; display:inline-block">
            <button id="dropdown_type" class="btn btn-default dropdown-toggle"  type="button" data-toggle="dropdown" >Generalization in sketch map
                <span class="caret"></span></button>
                    <ul class="dropdown-menu" style="font-size:0.7rem ; min-width:10.5rem">
                        <li onclick="experiment_map()"><a tabindex="-1" href="#">Experiment map</a></li>
                        <li onclick="geometric_merging()"><a tabindex="-1" href="#">Geometric merging</a></li>
                        <li onclick="omission()"><a tabindex="-1" href="#">Omission</a></li>
                        <li onclick="abstraction_to_show_existence()"><a tabindex="-1" href="#">Abstraction to show existence</a></li>
                        <li onclick="abstraction_to_show_connectivity()"><a tabindex="-1" href="#">Abstraction to show connectivity</a></li>
                        <li onclick="merged_junctions()"><a tabindex="-1" href="#">Merge junction</a></li>
                        <li onclick="roundabout_collapse()"><a tabindex="-1" href="#">Roundabout collapse</a></li>
                        <li onclick="collapse()"><a tabindex="-1" href="#">Collapse</a></li>
                        <li onclick="amalgamation()"><a tabindex="-1" href="#">Amalgamation</a></li>
                        <li onclick="regionalization()"><a tabindex="-1" href="#">Regionalization</a></li>
                        <li onclick="addIDforQualitativeAnalysis()"><a tabindex="-1" href="#">Add ID</a></li>
                    </ul>
        </div>
        <input id = "sketchgroupnum" type="text" style="visibility:hidden; position:relative;z-index:1000;left:50px; top:140px; display:inline-block" name="myfieldname"  />
    </div>

</div>
<div class="vl" style="z-index:1000000"><p id="alignbutton">align</p></div>


    <div id="sketchmapplaceholder" style="float: right; width: 50%; height: 90%;border-radius:5px;text-align: center">
        <div style="height: 100%; width: 100%;overflow-y:scroll;overflow-x:hidden;">
<div class="window" style="position:relative;pointer-events:none;">
      <div style="float: right; width: 100%; height: 100%;border-radius:5px; position: absolute;top:13px;pointer-events:all" id="sketchimagemap"></div>
<input type="checkbox" id="slider" class="toggle">
  <label for="slider" style="font-size:xx-small;pointer-events:all;position:relative;z-index:1000"><i class="fas fa-angle-double-down" > </i></label>
  <div style="pointer-events:all;position:relative;z-index:1000;background:white">
     <form id="frm" method="post" class="needs-validation">
  <!--Image container -->
  <div class="row" style="margin:auto"
    data-type="imagesloader"
    data-errorformat="Accepted file formats"
    data-errorsize="Maximum size accepted"
    data-errorduplicate="File already loaded"
    data-errormaxfiles="Maximum number of images you can upload"
    data-errorminfiles="Minimum number of images to upload"
    data-modifyimagetext="Modify image">
      <!-- Progress bar -->
    <div class="col-12 order-1 mt-2">
      <div data-type="progress" class="progress" style="height: 25px; display:none;">
        <div data-type="progressBar" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%;">Load in progress...</div>
      </div>
    </div>
    <!-- Model -->
    <div data-type="image-model" class="col-4 pl-2 pr-2 pt-2" style="width:100%; display:none;">
      <div class="ratio-box text-center" data-type="image-ratio-box">
        <div data-type="loading" class="img-loading" style="color:#218838; display:none;">
          <span class="fa fa-2x fa-spin fa-spinner"></span>
        </div>
        <img data-type="preview" class="thumbnail btn btn-light ratio-img img-fluid p-2 image border dashed rounded" src="" style="display: none; cursor: default;">
      </div>

    </div>
  </div>
   <div data-type="image-buttons" style="position:relative;width:200px;margin:auto;top:-100px">
       <img data-type="noimage" id ="imgupload" class="btn btn-light ratio-img img-fluid p-2 image border dashed rounded" style="cursor:pointer;height:150px;object-fit:contain" src="{% static '//img/upload.png' %}">
        <button id ="uploadProject" data-type="add" class="btn btn-outline-secondary" style="position:relative;top:170px" type="button" ><span class="fa fa-camera mr-2"></span>Upload sketchmaps</button>
      </div>


  <div class="form-group row">
    <div class="input-group">
      <!--Hidden file input for images-->
      <input id="files" type="file" name="files[]" data-button="" multiple="" accept="image/jpeg, image/png, image/gif," style="display:none;">
    </div>
  </div>
</form>
  </div>
</div>

        </div>

    </div>

    <div id="modalDegreeofGeneralization"  class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:1000px">
        <!-- Modal content-->
        <div class="modal-content" style="width:1000px">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align: center">Degree of Generalization</h4>
            </div>
            <div class="modal-body" style="width:1000px ">
                <table style="font-size:15px">
                    <tr>
                    <th>Generalization Type</th>
                    <th>Occurance</th>
                    <th>Number of features in original metric map</th>
                    <th>Number of features after generalization</th>
                    <th>Degree of generalization</th>
                    </tr>
                     <tr>
                    <td>Merging due to Omission</td>
                    <td id="M_Occurance"></td>
                    <td id="M_MM"></td>
                    <td id="M_G"></td>
                    <td id="M_DG"></td>
                    </tr>
                     <tr>
                    <td>Existence</td>
                  <td id="E_Occurance"></td>
                    <td id="E_MM"></td>
                    <td id="E_G"></td>
                    <td id="E_DG"></td>
                    </tr>
                     <tr>
                    <td>Connectivity</td>
                    <td id="C_Occurance"></td>
                    <td id="C_MM"></td>
                    <td id="C_G"></td>
                    <td id="C_DG"></td>
                    </tr>

                     <tr>
                    <td>Junction merge</td>
                   <td id="J_Occurance"></td>
                    <td id="J_MM"></td>
                    <td id="J_G"></td>
                    <td id="J_DG"></td>
                    </tr>
                     <tr>
                    <td>Amalgamation</td>
                    <td id="A_Occurance"></td>
                    <td id="A_MM"></td>
                    <td id="A_G"></td>
                    <td id="A_DG"></td>
                    </tr>
                     <tr>
                    <td>Collapse</td>
                   <td id="Co_Occurance"></td>
                    <td id="Co_MM"></td>
                    <td id="Co_G"></td>
                    <td id="Co_DG"></td>
                    </tr>
                     <tr>
                    <td>completeness</td>
                   <td id="empty1"></td>
                    <td id="FeaturesinEM"></td>
                    <td id="FeaturesinSM"></td>
                    <td id="comp"></td>
                    </tr>
                    <tr>
                    <td>Overallgeneralization</td>
                   <td id="empty2"></td>
                    <td id="FeaturesbeforeGen"></td>
                    <td id="FeaturesafterGen"></td>
                    <td id="overallgen"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>



    <script type="text/javascript" src ="{% static '//js/leaflet.shpfile.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/Leaflet.interactive.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/LineUtil.Snapping.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/Marker.Snapping.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/map.js' %}" ></script>
 <script type="text/javascript" src ="{% static '//js/modules/uploadproject.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/sketchMap_sma_script.js' %}" ></script>
    <script type="text/javascript" src ="{% static '//js/sketchmapeditor.js' %}" ></script>

</body>
</html>
